.user-card{
    border: 1px solid black;
}
.details{
    background-color: cornflowerblue;
    width: 100px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 5px;
    font-weight: bold;
}

.details:hover{
    background-color: lightskyblue;
    border: 2px solid cornflowerblue;
    transition: 1s;
    cursor: pointer;
}