.App {
    display: flex;
    flex-direction: column;



}

.simpsons_place{
    display: grid;
    grid-template-columns:1fr 1fr ;

}

.rick_and_morty{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
}